.testzone-content {
  padding: 24px;
}

.kitchen-section-title {
  font-size: 20px;
  font-weight: 900;
  margin: 32px 0 16px;
}

/* 每一張「預約卡片」的外框 */
.kitchen-reservation-card {
  background: #fff;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 12px;  /*卡片間距*/
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kitchen-reservation-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-row {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;    /*icon 與文字間距*/
  line-height: 1.1;  /* 預設是 1.2 左右 */
}

.icon {
  font-size: 16px;
}

.status-label {
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: 700;
  color: #4a3b18;
  white-space: nowrap;
}


/* 表單 */
.submit-btn {
  align-self: flex-end;
  background: #4a3b18;
  color: #fff;
  padding: 10px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
}


/*按鈕*/
.kitchen-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.apply-trial-btn {
  background: #4a3b18;
  color: white;
  font-weight: 700;
  padding: 8px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 16px; /*把按鈕往下壓*/
}
